:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding:hover {
  background-color: var(--branding-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h4 {
  font-size: 48px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0 0;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 43px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 62px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 50px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.developer-img {
  border-radius: 16px;
  max-width: 80%;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px 15px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: flex;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  color: var(--branding-color);
  font-size: 18px;
  background-color: var(--secondary-color);
  margin: 0 20px;
  padding: 10px 15px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 986px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 26px;
  }
  .container {
    text-align: center;
  }
  .project-description {
    padding: 0;
  }
  .content-container {
    padding: 0;
  }

  footer .contact-box .btn-branding {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
