:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

.btn-branding-outline {
  color: var(--branding-color);
  border-color: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.about-page-hero {
  padding: 160px 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .container {
    text-align: center;
  }
  .project-description {
    padding: 0;
  }
  .about-page-hero {
    padding: 0;
  }
}

.about-page-hero h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-page-hero h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-content {
  margin: 50px;
}

.developer-img {
  border-radius: 16px;
  max-width: 80%;
}
